.task {
  margin: 4vh;
  display: flex;
}

.task input {
  position: relative;

  border: 2px solid #fece00;
  border-radius: 10px;

  width: 15vw;
  height: 3.8vh;
  left: 2vw;
  margin-left: 1vh;
  color: gray;
  padding-left: 1vh;
}

.task input::placeholder {
  color: gray;
  border-color: black;
}

.task select {
  padding-left: 1vh;
  box-sizing: border-box;
  position: relative;

  border: 2px solid #fece00;
  border-radius: 10px;
  margin-left: 2vh;

  width: 15vw;
  height: 4.5vh;
  left: 2vw;
  color: gray;
}

.task select::placeholder {
  color: gray;
  border-color: black;
}

.task button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-left: 1vw;
  width: 10vw;
  height: 4.5vh;
  left: 25vw;

  border-radius: 10px;
  border: none;
  color: #ffffff;
}

.task button:nth-child(4) {
  background: #00ba88;
}

.task button:nth-child(4):hover {
  background: #204e42;
}

.task button:nth-child(5) {
  background: #ff3d1f;
}

.task button:hover:nth-child(5) {
  background: #a32a1b;
}
