.schedule {
  position: absolute;
  padding: 10px 12px;
  width: 200px;
  height: 44px;
  top: 250px;

  color: #000000;
}

.schedule label {
  padding-left: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 10px;
  font-family: "Mulish";
  font-style: normal;
}

.schedule ul {
  list-style: none;
}

.schedule li {
  position: absolute;
  width: 240px;
  height: 33px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
  border-radius: 9px 9px 0px 0px;
}

.schedule li:nth-child(1) {
  left: 150px;
  background: #ff0024;
}

.schedule li:nth-child(2) {
  left: 395px;
  background: #ff8000;
}

.schedule li:nth-child(3) {
  left: 640px;
  background: #ffbf00;
}

.schedule li:nth-child(4) {
  left: 885px;
  background: rgba(255, 0, 36, 0.7);
}

.schedule li:nth-child(5) {
  left: 1130px;
  background: rgba(255, 128, 0, 0.7);
}

.schedule li:nth-child(6) {
  left: 1375px;
  background: rgba(255, 206, 0, 0.7);
}

.schedule li:nth-child(7) {
  left: 1620px;
  background: rgba(255, 0, 36, 0.5);
}
