.login {
  position: relative;
  display: flex;
  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
  color: #e0e0e0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login img {
  display: flex;
  width: 50vw;
  height: 100vh;
}

.login h1 {
  position: relative;
  width: 77px;
  height: 38px;
  left: 15vw;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;

  color: #e0e0e0;
}

.login h1:nth-child(1) {
  top: 8vh;
  font-size: 4vw;
}

.login h1:nth-child(3) {
  top: 14vh;
}

.login p {
  position: relative;
  width: 301px;
  height: 90px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 20px;

  color: #e0e0e0;
}

.login p:nth-child(2) {
  top: 5.9vh;
  left: 15vw;
}

.login p:nth-child(5) {
  top: 19vh;
  left: 19.5vw;
  text-decoration: underline;
}

.login p:nth-child(5):hover {
  color: wheat;
  cursor: pointer;
}

.login input {
  box-sizing: border-box;

  position: relative;
  background: #26292c;
  border: 2px solid #ffffff;
  border-radius: 50px;
  font-weight: 400;
  font-size: 0.8vw;
  line-height: 20px;
  color: #e0e0e0;
  padding: 20px;
  width: 20vw;
  height: 6.5vh;
  left: 15vw;
  top: 14vh;
  margin-bottom: 2vh;
}

.loginB {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  position: relative;
  width: 20vw;
  height: 6.5vh;
  top: 20vh;
  left: 15vw;

  background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px;

  color: #e0e0e0;
  font-weight: 700;
  font-size: 26px;
  border: none;
}

.login button:hover {
  background: linear-gradient(90deg, #6a1606 0%, #6f1a09 100%);
  color: white;
}
