@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,300&display=swap");

.register img {
  /* position: relative;
  height: 100vh;
  width: 50%;
  top: 0px;
  left: 50%; */
  position: absolute;
  width: 960px;
  height: 1080px;
  left: 960px;
  top: 0px;
}

.register {
  position: relative;
  display: flex;
  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
  color: #e0e0e0;
  position: relative;
  width: 1920px;
  height: 1080px;

  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
}

.register h1 {
  position: absolute;
  width: 273px;
  height: 75px;
  left: 296px;
  top: 94px;

  font-weight: 400;
  font-size: 60px;
  line-height: 75px;

  /* Secundária */
}

.register h2 {
  position: absolute;
  width: 301px;
  height: 24px;
  left: 298px;
  top: 195px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  /* Secundária */
}

.register label {
  position: absolute;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e0e0e0;
  width: 78px;
  height: 20px;
  left: 298px;
}

.register label:nth-child(1) {
  top: 285px;
}

.register label:nth-child(3) {
  top: 361px;
}

.register label:nth-child(5) {
  top: 440px;
}

.register label:nth-child(7) {
  top: 518px;
}

.register label:nth-child(9) {
  top: 596px;
}

.register label:nth-child(11) {
  top: 674px;
}

.register label:nth-child(13) {
  top: 756px;
}

.register label:nth-child(15) {
  top: 834px;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.register input {
  box-sizing: border-box;
  position: absolute;
  background: #26292c;
  border: 1px solid #ffffff;
  border-radius: 50px;
  width: 379px;
  height: 60px;
  left: 388px;
  padding-left: 25px;
  color: white;
}

.register input:nth-child(2) {
  top: 266px;
}

.register input:nth-child(4) {
  top: 344px;
}

.register input:nth-child(6) {
  top: 422px;
}

.register input:nth-child(8) {
  top: 500px;
}

.register input:nth-child(10) {
  top: 578px;
}

.register input:nth-child(12) {
  top: 656px;
}

.register input:nth-child(14) {
  top: 734px;
}

.register input:nth-child(16) {
  top: 812px;
}

.register button {
  box-sizing: border-box;

  position: absolute;
  width: 471px;
  height: 67px;
  left: 298px;
  top: 928px;

  /* Outros - grad */

  background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px;

  color: #ffffff;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  border: none;
}

.register button:hover {
  background: linear-gradient(90deg, #6a1606 0%, #6f1a09 100%);
  color: white;
}

.register p {
  position: absolute;
  width: 379px;
  height: 24px;
  left: 390px;
  top: 990px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
}
