@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,300&display=swap");

.register img {
  display: flex;
  width: 50vw;
  height: 100vh;
}

.register {
  position: relative;
  display: flex;
  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
  color: #e0e0e0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: "Mulish";
  font-style: normal;
}

.registerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register h1 {
  position: relative;
  width: 77px;
  height: 38px;
  left: 14vw;

  font-weight: 400;
  font-size: 5vh;
  top: 5vh;
  line-height: 38px;
  color: #e0e0e0;
}

.register h2 {
  position: relative;
  width: 40vh;
  height: 2.4vh;

  font-weight: 400;
  font-size: 1.5vw;
  line-height: 20px;
  left: 14vw;
  margin-top: 2.3vh;
  margin-bottom: 4vh;

  color: #e0e0e0;
}

.register label {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 2vh;
  color: #e0e0e0;

  left: 14vw;

  width: 40vh;
  height: 2.5vh;
  top: 1.2vh;
  margin-top: 1.4vh;
}

.register input {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: row;

  background: #26292c;
  border: 2px solid #ffffff;
  border-radius: 50px;
  width: 15vw;

  height: 4.5vh;
  left: 22vw;
  margin-top: -2.2vh;

  padding-left: 25px;
  color: white;
}

.register input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 115px;
  background-size: 15px;
  filter: invert(50%);
}

.register button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 23vw;
  height: 6.5vh;
  left: 14.5vw;
  margin-top: 4vh;

  background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  border: none;
  color: white;
}

.register button:hover {
  background: linear-gradient(90deg, #6a1606 0%, #6f1a09 100%);
  color: white;
}

.register p {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-left: 4vh;
  text-decoration: underline;
}

.register p:hover {
  color: wheat;
}

.alert {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 23vw;
  height: 6.5vh;
  left: 14.5vw;
  margin-top: 4vh;

  background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  border: none;
  color: white;
}
